<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EventProjekt</title>
    <script src="https://api.helsingborg.se/event/json/wp/v2/event/"></script>
</head>
<body>
    <div ng-if="!user" ng-controller="eventCtrl">
        <div id="events" class="events">
            <h1 class="first-line">Events</h1>
            <div ng-repeat="x in events" class="event">
                <h2>
                    {{x.organizers[0].organizer}}
                </h2>
                <h3 class="first-event">
                    <img ng-src="{{x.featured_media.source_url}}" class="ev-img">
                </h3>
                <h2>
                    {{x.location.formatted_address}}
                </h2>
                <h3>
                    {{x.date}}
                </h3>
            </div>
        </div>
    </div> 
</body>
</html>